html {
  height: 100%;
}

body {
  background-color: #4E026E;
  font-family: 'Inder', sans-serif;
  height: 100%;
}


h1 {
  color: white;
  background-color: #64247F;
  padding: 10px 20px 10px 20px;
  border: 1.5px solid #A63CD4;
  border-radius: 10px 10px 0 0;
  text-align: center;
  font-size: 60px;
  margin: 0px 0px 3px 0px;
}

/*
***********************
* =nav
***********************
*/

nav {
  margin-top: 3px;
  list-style-type: none;
  background-color: #64247F;
  border: 1.5px solid #A63CD4;
  border-radius: 0 0 10px 10px;
}

nav li  {
  text-align: center;
  padding: 20px;
  display: inline;
}

#selected {
  color: white;
}

/*
***********************
* =sidebar
***********************
*/

#sidebar {
  float: right;
  width: 25%;
  margin: 5px 0px 0px -2px;
}

#sidebar #inner {
  position: fixed;
  border: 1.5px solid #A63CD4;
  border-radius: 10px;
  width: 25%;
}

#sidebar ul {
  list-style-type: none;
  padding-left: 5px;
}

#sidebar li {
  margin-bottom: 4px;
}

#sidebar h2 {
  background-color: #7908aa;
  margin-bottom: 0;
}

/*
***********************
* =section
***********************
*/

.rows {
  width: 75%;
  margin: 2px 0px;
  display: table;
}

.section {
  background-color: #64247F;
  border: 1.5px solid #A63CD4;
  border-radius: 10px;
  width: 50%;
/*  margin: 5px 2px 0px 0px;*/
  padding: 5px;
  display: table-cell;
/*  vertical-align: top;*/
/*  height: 100%;*/
}

.section h3 {
  font-size: 30px;
  margin: 5px;
  background-color: #7908aa;
}

.section p {
  margin-left: 5px;
}

img {
  border: 3px solid black;
  border-radius: 5px;
  max-width: 95%;
}

.date {
  float: right;
}

a {
  text-decoration: none;
  color: #A63CD4;
}

a:hover {
  color: white;
}
