nav {
  background-color: black; }

ul {
  list-style-type: none;
  color: white;
  text-align: right; }

li {
  display: inline-block;
  margin: 10px; }

#projects {
  margin: auto;
  width: 100%; }

.project {
  height: 269px;
  width: 20%;
  display: inline-block; }
  .project h1 {
    text-align: center; }

.project-containter {
  height: 100%;
  width: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition-duration: 0.5s;
  transform-origin: center center; }

.front, .back {
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
  position: absolute; }

.front {
  z-index: 3; }

.back {
  transform: rotateY(180deg); }

.project-containter:hover, .active {
  transform: rotateY(180deg); }

.project:hover .project-container {
  transform: rotateY(180deg); }
