//- .project-nav-icon(ng-repeat='project in portfolio.projects')
//-   .project-containter
//-     img.front(ng-src='{{project.frontImage}}')
//-     .back
//-       h1 {{project.name}}

.project-nav-icon(ng-repeat='project in portfolio.projects' ng-click='portfolio.showProject($index)')
  .project-containter
    img.front(ng-src='{{project.frontImage}}')
    .back
      h1 {{project.name}}

#project
  .project(ng-repeat='project in portfolio.projects' ng-show='portfolio.checkProject($index)')
    .project-main  
      img(ng-src='{{project.backImage}}')
    .description(ng-bind-html="portfolio.projectDescription($index)")