doctype html
html(ng-app='portfolio')
  meta(charset='utf-8')
  title MaRisa Jackson
link(href='css/style.css', rel='stylesheet')
body
  navbar

  #projects(ng-controller='projectCtrl')
    .project(ng-repeat='project in projects')
      .project-containter
        img.front(ng-src='{{project.frontImage}}')
        img.back(ng-src='{{project.backImage}}')

script(src='js/vendor/angular/angular.min.js')
script(src='js/app.js')
