doctype html
html(ng-app='portfolio')
  meta(charset='utf-8')
  title MaRisa Jackson
link(href='css/style.css', rel='stylesheet')
body
  navbar

  portfolionav

  #project(ng-controller='portfolioCtrl as portfolio')
    .project(ng-repeat='project in portfolio.projects' ng-show='portfolio.checkProject($index)')
      h1 {{project.name}}


script(src='js/vendor/angular/angular.min.js')
script(src='js/vendor/angular-sanitize/angular-sanitize.min.js')
script(src='js/app.js')
