doctype html
html(ng-app='portfolio')
  meta(charset='utf-8')
  title MaRisa Jackson
link(href='css/style.css', rel='stylesheet')
body
  navbar

  portfolionav

script(src='js/vendor/angular/angular.min.js')
script(src='js/app.js')
